

body{
  background-color: hsl(0, 0%, 100%) ;
}



@media only screen and (min-width: 375px){
  #image{
      border-radius: 10%;
      padding: 1rem;
      width: 85%;
  }

  h2 {
      font-size: 18px;
  }
     #container {
      margin: auto;
      margin-top: 10rem;
      background-color: white;
      border-radius: 15px;
      text-align: center;
      /* margin-left: 20%; */
      /* margin-right: 20%; */
     
  }
  p{
      font-size: 15px;
      color: hsl(220, 15%, 55%);
  } 

}
@media only screen and (min-width: 1440px){
  .App{
    background-color: hsl(212, 45%, 89%);
    margin-left: auto;
    margin-right: auto;
    height: 70vh;
    width: 1300px;
    margin-top: 5%;
    padding-top: 74PX;
  }

  #container {
    margin: auto;
      background-color: white;
      border-radius: 14px;
      text-align: center;
      width: 295px;
      height: 62vh;
      place-items: center
  }
  
  #image {
      border-radius: 25px;
      width: 260px;
      height: 35vh;
      padding: 1rem;
  }


  h2 {
      font-size: 22px;
      /* font-weight: 400; */
      margin-top: 2%;
    }
    
    #header{
      justify-content: center;
      font-family: Outfit;
      margin-right:8%;
      margin-left: 5%;
  }
  
  p{
      font-size: 15px;
      font-family: Outfit;
      font-weight: 400;
    }

}