/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


body{
  background-color: hsl(212, 45%, 89%) ;
}



@media only screen and (min-width: 375px){
  #image{
      border-radius: 10%;
      padding: 1rem;
      width: 85%;
  }
  h2 {
      font-size: 18px;
  }
     #container {
      margin: auto;
      margin-top: 10rem;
      background-color: white;
      border-radius: 15px;
      text-align: center;
      /* margin-left: 20%; */
      /* margin-right: 20%; */
     
  }
  p{
      font-size: 15px;
      color: hsl(220, 15%, 55%);
  } 

}
@media only screen and (min-width: 1440px){
  #container {
    margin: auto;
      background-color: white;
      border-radius: 15px;
      text-align: center;
      width: 17%;
      height: 70vh;
      /* padding: 0.5rem; */
      /* margin-left: 35%; */
      margin-top: 5%;
  }
  
  #image {
      border-radius: 7%;
      width: 85%;
      height: 38vh;
      padding: 1rem;
  }


  h2 {
      font-size: 28px;
      font-family: Outfit;
      font-weight: 700;
      margin-top: 2%;
  }
  
  p{
      font-size: 15px;
      font-family: Outfit;
      font-weight: 400;
    }

}